<!DOCTYPE html>
<html lang="en">
    <head>
        <title>More JPEG!</title>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
        <script src="/main.js"></script>
    </head>

    <body>
        <p>You can always use more JPEG.</p>

        <div id="drop-zone">
        </div>
    </body>
</html>