<!DOCTYPE html>
<html lang="en">
    <head>
        <title>More JPEG!</title>
        <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
        <link href="/style.css" rel="stylesheet">
        <script src="/main.js"></script>
    </head>

    <body>
        <p>
            <span id="status">You can always use more JPEG.</span>
            <label>
                Auto click:
                <input id="autoclick" type="checkbox"/>
            </label>
        </p>

        <div id="drop-zone">
            <span id="instructions">
                Drop an image on me!
            </span>
        </div>
    </body>
</html>